################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Properties
/packages
/.vs
/Danealoria.sln
/Danealoria.csproj.user
/Danealoria.csproj
